@charset 'UTF-8';
/* CSS Document TEMPORARY STYLE SHEET */

body {
  font-family:'Courier New', Courier, monospace;
}

form {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

th {
  padding: 1px 0px 0px 0px;
}

th, td {
  margin: 0;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
}

input[type='text'], input[type='number'] {
  border: 1px solid #CCC;
  text-align: center;
  width:100%;
}


/*weapon_matrices.html*/
.matrix_updater {
  width: 1024px;
  height: auto;
  background-color: #DDD;
  border: 1px solid #BBB;
  margin: 0;
  padding: 2px;
  overflow: auto;
}

.matrix_updater h3 {
  margin: 0;
  padding: 0;
}


/*CONFIRMED STYLES*/
.error_report {
  width: auto;
  background-color: pink;
  border: 1px solid red;
  border-radius: 5px;
  font-size: 12px;
  margin: 2px 0px;
  padding: 2px 1px 1px;
}